.section3{
    font-family: 'Inter', sans-serif;
}
.section3b{
    background-color: whitesmoke;
    padding-top: 50px;
    width: 100%;
}




.blue__side{
    background-color: #2FA4FF;
    box-shadow: 3px 3px 15px rgb(189, 187, 187);
    height: 170px;
    width: 90px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 0px;

}
.blue__sid{
    padding-top: 50px;
}

.enabled2{
    font-size: 16px;
    /* font-family: 'Inter', sans-serif; */
    /* font-weight: lighter; */
    text-align: left;
    color: rgb(158, 153, 153);
    padding-left: 30px;
}


